<h1>Search User</h1>
{{#if error}} <span>{{error}}</span>{{/if}}
<form class="form-inline" method="POST" action="/user/search">
    <div class="form-group">
        <input type="text" name="id" class="form-control" placeholder="search users by id">
        <input type="submit" class="btn btn-primary" value="Search">
    </div>

</form>